---

---
<div class="flex lg:py-5 justify-center py-2">
  <h1 class="lg:text-7xl font-coiny text-white text-center text-6xl">
    Welcome to the <span class="font-modak text-purple-900">PokeDeck</span>
  </h1>
</div>

