---
import Layout from "./Layout.astro";
import Header from "../components/Header.svelte";

export interface Props {
  title: string;
  showFlip: boolean;
}

const { title, showFlip } = Astro.props;

---
<Layout title={title}>
  <div class="bg-purple-900 sticky top-0 mb-10 h-20 w-full z-50">
    <Header client:only showFlip={showFlip}/>
  </div>
  <slot/>
</Layout>
