---
import "@fontsource/coiny";
import "@fontsource/modak";
import "@fontsource/fredoka";
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="font-fredoka h-full overflow-y-hidden">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-purple-500 text-white h-full overflow-y-hidden">
    <main id="main" class="flex flex-col h-full w-full items-center relative bg-purple-500 overscroll-y-scroll">
		  <slot />
    </main>
	</body>
</html>
<style is:global>
	:root {
    --font-coiny: "Coiny";
    --font-modak: "Modak";
    --font-fredoka: "Fredoka";
	}
</style>
